<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
</head>
<body>
    <div id="navbar"></div>
    <section id="introsection"></section>
    <section id="aboutsection"></section>
    <section id="sponsorsection"></section>
    <footer id="footer"></footer>
</body>
</html>