<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/classical.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo-section">
            <img src="/static/dance_logo.jpg" alt="">
            | SDA
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/about">About Us</a>
                <div class="dropdown-content">
                    <a href="/about/intro">Who are we?</a>
                    <a href="/about/mission">Our Mission</a>
                </div>
            </li>
            <li class="service-dropdown">
                <a class="servicebtn" href="/services">Our Services</a>
                <div class="service-content">
                    <a href="/services/classical">Classical Dance</a>
                    <a href="/services/rockandroll">Rock and Roll</a>
                    <a href="/services/western">Western Dance</a>
                    <a href="/services/health">Health</a>
                </div>
            </li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="classical">
        <h3>CLASSICAL DANCE</h3>
        <div class="classical-img">
            <img src="/static/classical.avif" alt="">
            <img src="/static/classical1.avif" alt="">
            <img src="/static/classical2.avif" alt="">
        </div>
        <p>We teach the following Indian Classical Dances in our Academy - <b>Bharatnatyam, Kuchipudi, Kathak </b>. This art form is applicable to learn for all the age groups in our Academy. It is optional for participants to either buy original Dancing kits, or use the duplicate ones that are provided in the Academy.</p>
    </section>
    <footer id="footer">Copyright © 2024 SaiDanceAcademy.com</footer>
</body>
</html>