<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/stylehome.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo-section">
            <img src="/static/dance_logo.jpg" alt="">
            | SDA
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/about">About Us</a>
                <div class="dropdown-content">
                    <a href="/about/intro">Who are we?</a>
                    <a href="/about/mission">Our Mission</a>
                </div>
            </li>
            <li class="service-dropdown">
                <a class="servicebtn" href="/services">Our Services</a>
                <div class="service-content">
                    <a href="/services/classical">Classical Dance</a>
                    <a href="/services/rockandroll">Rock and Roll</a>
                    <a href="/services/western">Western Dance</a>
                    <a href="/services/health">Health</a>
                </div>
            </li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="introsection">
        <div class="slide-content">
            <div class="mySlides group">
                <img src="../static/party1.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">LIVE LEARN DANCE REPEAT</div>
            </div>
            <div class="mySlides group">
                <img src="../static/party7.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">LEARN TO MIX CLASSIC AND WESTERN</div>
            </div>
            <div class="mySlides group">
                <img src="../static/party3.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">MATCH THE BEAT WITH YOUR DANCE STEPS</div>
            </div>
            <div class="mySlides group">
                <img src="../static/party2.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">LEARN MORE ABOUT DIFFERENT ARTS</div>
            </div>
            <div class="mySlides group">
                <img src="../static/psrty4.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">PRACTICE TOGETHER AS A TEAM</div>
            </div>
            <div class="mySlides group">
                <img src="../static/party6.avif" alt="Image not found">
                <div class="heading1">WELCOME TO SAI'S DANCE ACADEMY</div>
                <div class="middle">LET'S TOGETHER CREATE A HIGHLY INCLUSIVE AND DIVERSE COMMUNITY</div>
            </div>
        </div>
    </section>
    <script src="../static/home.js"></script>
    <footer id="footer">Copyright © 2024 SaiDanceAcademy.com</footer>
</body>
</html>