<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/stylemission.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo-section">
            <img src="/static/dance_logo.jpg" alt="">
            | SDA
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/about">About Us</a>
                <div class="dropdown-content">
                    <a href="/about/intro">Who are we?</a>
                    <a href="/about/mission">Our Mission</a>
                </div>
            </li>
            <li class="service-dropdown">
                <a class="servicebtn" href="/services">Our Services</a>
                <div class="service-content">
                    <a href="/services/classical">Classical Dance</a>
                    <a href="/services/rockandroll">Rock and Roll</a>
                    <a href="/services/western">Western Dance</a>
                    <a href="/services/health">Health</a>
                </div>
            </li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="mission">
        <h2>Our Mission</h2>
        <div class="card-section">
            <div class="card">
                <h3>Relieve Stress by Dancing</h3>
                <div class="card-box">
                    <div class="card-pic">
                        <img src="/static/1.png" alt="">
                    </div>
                    <div class="card-content">
                        <p>Learn to relieve your stress, by learning to dance here.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Learn Simple Moves</h3>
                <div class="card-box">
                    <div class="card-pic">
                        <img src="/static/2.png" alt="">
                    </div>
                    <div class="card-content">
                        <p>Learn and Practice Simple Dance moves, with respect to music.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h3>Have fun while Dancing</h3>
                <div class="card-box">
                    <div class="card-pic">
                        <img src="/static/3.png" alt="">
                    </div>
                    <div class="card-content">
                        <p>Have fun while Dancing, enjoy your time here learning new things.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer id="footer">Copyright © 2024 SaiDanceAcademy.com</footer>
</body>
</html>