<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/rockandroll.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo-section">
            <img src="/static/dance_logo.jpg" alt="">
            | SDA
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/about">About Us</a>
                <div class="dropdown-content">
                    <a href="/about/intro">Who are we?</a>
                    <a href="/about/mission">Our Mission</a>
                </div>
            </li>
            <li class="service-dropdown">
                <a class="servicebtn" href="/services">Our Services</a>
                <div class="service-content">
                    <a href="/services/classical">Classical Dance</a>
                    <a href="/services/rockandroll">Rock and Roll</a>
                    <a href="/services/western">Western Dance</a>
                    <a href="/services/health">Health</a>
                </div>
            </li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="rockandroll">
        <h3>ROCK AND ROLL</h3>
        <div class="rockandroll-img">
            <img src="/static/rockandroll.avif" alt="">
            <img src="/static/rockandroll1.avif" alt="">
            <img src="/static/rockandroll2.avif" alt="">
        </div>
        <p>We teach freestyle Dance steps to Rock and Roll Music. We first take special interest on individual performances, then move forward to performing as a team. We train hard to match the steps with respect to the music beat.</p>
    </section>
    <footer id="footer">Copyright © 2024 SaiDanceAcademy.com</footer>
</body>
</html>