<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sai Dance Academy</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/western.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo-section">
            <img src="/static/dance_logo.jpg" alt="">
            | SDA
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropbtn" href="/about">About Us</a>
                <div class="dropdown-content">
                    <a href="/about/intro">Who are we?</a>
                    <a href="/about/mission">Our Mission</a>
                </div>
            </li>
            <li class="service-dropdown">
                <a class="servicebtn" href="/services">Our Services</a>
                <div class="service-content">
                    <a href="/services/classical">Classical Dance</a>
                    <a href="/services/rockandroll">Rock and Roll</a>
                    <a href="/services/western">Western Dance</a>
                    <a href="/services/health">Health</a>
                </div>
            </li>
            <li><a href="/sponsors">Our Sponsors</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="western">
        <h3>WESTERN DANCE</h3>
        <div class="western-img">
            <img src="/static/salsa.avif" alt="">
            <img src="/static/western1.avif" alt="">
            <img src="/static/western2.avif" alt="">
        </div>
        <p>At our Academy, we also teach and provide training for Salsa and Ballet dancers. Salsa Dance is mainly focused on couples. Neverthless if you're a passionate dancer, and able to find a willing partner, then you're aligible to attend the training. Ballet Dance is for females inbetween the age group 8-31.</p>
    </section>
    <footer id="footer">Copyright © 2024 SaiDanceAcademy.com</footer>
</body>
</html>